html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family:'Rateway', sans-serif;
    background-color: #e7e7e7;
    font-size: 1.4rem;
    /*1rem = 10px*/

}

/* Navbar-start */
.header {
    position: fixed;
    justify-content: flex-end;
    z-index: 10;
    background-color: #e7e7e7;
    width: 100%;
    
}

.back__home {
    display: flex;
    position: fixed;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right: 2rem;
    z-index: 15;
    font-size: 2.4rem;
}


.nav {
    display: flex;
    align-items: center;
    border-color: #e7e7e7;
    margin-top: 2rem;
    
}

.nav .btn__collapse {
    display: none;
}

.nav__logo  {
    display: block;
    width: 7rem; /*7rem*/
    height: 3.5rem; /*3.5rem*/
    margin-left: 3rem;
}

.nav__logo .far {
    font-size: 3rem;
    color: #2196f3;
}

.nav__logo b {
    font-size: 2rem;
}

.nav__logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-right: 2rem;
}

.nav__list .nav__item {
    list-style-type: none;
    padding: 1rem;
}

.nav__list .nav__item .nav__link {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
    cursor: pointer;
}

.nav__list .nav__item:nth-child(1) > a {
    color: #2196f3;
}

.nav__list .nav__item:nth-child(2):hover > a {
    color: #2196f3;
}
.nav__list .nav__item:nth-child(3):hover > a {
    color: #2196f3;
}
.nav__list .nav__item:nth-child(4):hover > a {
    color: #2196f3;
}
.nav__list .nav__item:nth-child(5):hover > a {
    color: #2196f3;
}
.nav__list .nav__item:nth-child(6):hover > a {
    color: #2196f3;
}
.nav__list .nav__item:nth-child(7):hover > a {
    color: #2196f3;
}

.nav__button {
    margin: 0 5rem 0 0;
    background-color: #2196f3;
    padding: 0.7rem 0.8rem;
    border-radius: 2.5rem;
    color: white;
    cursor: pointer;
}

ul {
    margin: 0;
}
/* Navbar-end */

/* Carousel-Start */


.container {
    height: 40rem;
}

.row {
    position: relative;
    display: flex; 
}


.carousel {
    display: flex;
    align-items: center;
    margin-top: 6rem;
}
.carousel__img {
    text-align: center;
}

.carousel__img img {
    width: 30rem;
}

.carousel .content .carousel__content{
    justify-content: center;
    padding-left: 0.2rem;
}

.carousel .content .carousel__content > a{
    background-color: #2196f3;
    padding: 0.8rem;
    border-radius: 2.5rem;
    color: white;
    cursor: pointer;
}

.carousel .content .carousel__content > p{
    padding: 0 2rem 0 0;
    color: #777777;
    font-size: 1.4rem;
}
.carousel .content .casual__content > h1{
    font-weight: 700;
}

.dot {
    cursor: pointer;
    height: 0.5rem;
    width: 3rem;
    margin: 0 0.4rem;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content: center;
    user-select: none;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.6rem;
    font-size: 1.4rem;
    transition: 0.6s ease;
    user-select: none;
  }

  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white !important;
  }

  /* carousel animation */
.carousel {
    -webkit-animation-name: carousel;
    -webkit-animation-duration: 1.5s;
    animation-name: carousel;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes carousel {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes carousel {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* Carousel-End */

/* About-area-start */
#about-area {
    background-color: white; 
    height: 35rem;
    display: flex;
    width: 100%;
}

#about-area .row {
    margin-top: 5rem;
    align-items: center;
}


#about-area .row .content .carousel__content > a{
    background-color: #2196f3;
    padding: 0.8rem;
    border-radius: 2.5rem;
    color: white;
    cursor: pointer;
}

#about-area .row .content .carousel__content > p{
    padding: 0.5rem 0;
    color: #777777;
    font-size: 1.4rem;
}

#about-area .row .content .carousel__content > h1{
    font-weight: 700;
}
/* About-area-end */

/* Product-area-start */
#features-area  .container .row:nth-child(1){
   padding-top: 5rem;
}

#features-area{
   height: 85rem;
}


#features-area  .container .row {
    display: flex;
    justify-content: center;
}

#features-area  .container .row .features__heading {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

#features-area  .container .row .features__heading p{
    font-size: 1.4rem;   
}


#features-area  .features__heading h2 {
    text-align: center;
}

#features-area .fas {
    color: #2196f3;
    font-size: 3rem;
    border: 1px solid #e6f0fa;
    padding: 1rem;
    border-radius: 50%;
}

#features-area .far {
    color: #2196f3;
    font-size: 3rem;
    border: 1px solid #e6f0fa;
    padding: 1rem;
    border-radius: 50%;
}

#features-area .fab {
    color: #2196f3;
    font-size: 3rem;
    border: 1px solid #e6f0fa;
    padding: 1rem;
    border-radius: 50%;
}

.features__single{
    background-color: #fff; 
    text-align: center;
    border: 1px solid #e6f0fa;
    padding: 4rem 3rem;
    margin: 0 0 2rem;
}

.features__single h4 {
    font-weight: 600;
    color: #555;
    margin: 1.5rem 0 .5rem;
}
 h4 {
    font-size: 1.5rem;
    line-height: 2.5rem;
 }

 p {
    font-size: 1.4rem;
    color: #777777;
    line-height: 2.4rem;
    margin: 0 0 1rem;
    text-align: justify;

 }
 
 
 
 .features__single p {
	 text-align: center;
 }
/* Product-area-end */

/* Video-area-start */

#video-area {
    background-image: url(./images/video-bg.jpg);
    position: relative;
    padding: 10rem 0 11rem;
    background-attachment: fixed;
    height: 30rem;
}

#video-area .row {
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0.8;
}

.video-content h2 {
    color: #fff;
    font-weight: 700;
}

.video-content a {
    display: inline-block;
    font-size: 3rem;
    margin: 1.5rem 0 0;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    line-height: 7.2rem;
    padding-left: .5rem;
    color: #fff;
    background-color: #2196f3;
}

p {
    font-size: 1.4rem;
    color: #777777;
    line-height: 2.4rem;
    margin: 0 0 1rem;

 }

.video-content a:hover {
    color: #2196f3;
    background-color: #fff;
}

.bg-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center-video {
    text-align: center;
}



/* Video-area-end */

/* feature-area-start */
#core-features-area {
    padding: 6rem 0 0;
    background-color: white;
    height: 130rem;
}

#core-features-area .row {
    display: flex;
    justify-content: center;
}

#core-features-area .row:first-child {
    padding-bottom: 2rem;
}

#core-features-area .section-heading p{
	text-align: center;
}

.core-features-single {
    margin: 0 0 4rem;
}

.core-feature-content {
    border: 1px solid #e6f0fa;
    padding: 4rem;
    position: relative;
    box-shadow: 0 0 1rem #e6f0fa;

}

.core-feature-content.arrow-right::after {
    content: '';
    background-color: transparent;
    border-left: 4rem solid #e6f0fa;
    border-bottom: 2rem solid transparent;
    border-top: 2rem solid transparent;
    display: block;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 50%;
}

.core-feature-content.arrow-left::after {
    content: '';
    background-color: transparent;
    border-right: 4rem solid #e6f0fa;
    border-bottom: 2rem solid transparent;
    border-top: 2rem solid transparent;
    display: block;
    position: absolute;
    right: 100%;
    width: 100%;
    top: 50%;
}

.core-feature-content i {
    color: #2196f3;
    font-size: 5rem;
    display: inline-block;
}

.core-feature-content h4 {
    font-weight: 600;
    color: #555;
    margin: 1rem 0 .5rem;
}
.core-feature-content p {
    text-align: justify;
}

.core-feature-img img {
    max-width: 30rem;
    margin: 0 auto;
}

.core-feature-img {
    text-align: center;
}

#core-features-area .core-features-single:nth-child(2) .row .img {
    order: 1;
}

#core-features-area .core-features-single:nth-child(2) .row .content {
    order: 2;
}
/* feature-area-end */
/* why choose area start */
#why-choose-area {
    padding: 8rem 0;
}
.why-choose-image{
    text-align: center;
}

.why-choose-image img {
    max-width: 35rem;
    margin: 0 auto;
}

.why-choose-content h2 {
    font-weight: 700;
}

.why-choose-content ul li {
    display: block;
    padding: .4rem 0;
    font-weight: 500;
    color: #555;
    font-size: 1.4rem;
}

.why-choose-content ul li i {
    color: #2196f3;
    margin-right: .2rem;
}
/* why choose area end*/
/* product area start */
#product-area {
    padding: 7rem 0 6rem;
    background-color: white;
    height: 115rem;
}


#product-area .container .row {
    display: flex;
    justify-content: center;
}

#product-area .container .row:first-child {
    padding-bottom: 2rem;
}

#product-area .section-heading p{
	text-align: center;
}

.product-single {
    border: 1px solid #e6f0fa;
    margin: 0 0 3rem;
    -webkit-box-shadow: 0 0 1rem #e6f0fa;
    box-shadow: 0 0 1rem #e6f0fa;
    padding: 4rem 0;
}

.product-single img {
    max-width: 20rem;
    margin: 0 auto;
}

.product-single h4 {
    font-weight: 600;
    margin: 0;
    font-size: 1.4rem;
}

.product-single h3 {
    font-weight: 700;
    color: #2196f3;
    margin: 0.5rem 0 1.5rem;
}

.product-single h2 span {
    font-size: 2.4rem;
}

.product-single a {
    display: inline-block;
    background-color: #2196f3;
    color: #fff;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 2.5rem;
}

.product-single a:hover {
    background-color: #0a80dd;
}

.product-single a i {
    padding-right: .4rem;
}

/* product area end */
/* testimonial-area-start */

#testimonial-area {
    padding: 8rem 0 13rem;
    height: 55rem;
}

#testimonial-area img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 5rem;
}

#testimonial-area .row {
    display:flex;
    justify-content: center;
}

#testimonial-area .content-testimonial {
    display: flex;
    align-items: center;
    margin-top: 2.3rem;
    margin-bottom: 1rem;  
}

#testimonial-area .info-testimonial{
    position: relative;
    background-color: #fff;
    border: 1px solid #e6f0fa;
    padding: 2rem;
}

#testimonial-area .info-testimonial::after {
    content: '';
    background-color: transparent;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 2rem solid #e6f0fa;
    display: block;
    position: absolute;
    top: 100%;
    left: 1.1rem;
}

#testimonial-area .row:first-child {
    padding: 0 0 2rem 0;
}

#testimonial-area .section-heading p{
	text-align: center;
}
h2 {
    font-size: 2.5rem;
}

/* testimonial-area-end */

/* start-faq-area */
#faq-area {
    background-color: white;
    height: 70rem;
}

#faq-area .container .row .faq-img > img {
    width: 35rem;
}

#faq-area .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq-area .row:first-child {
    padding: 7rem 0 0;
}

#faq-area h2 {
    font-size: 2.5rem;
}

.accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #eee;
    border-radius:1rem; 
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s
    
  }

  .accordion:focus {
      outline: none;
  }
  
  .active, .accordion:hover {
    background-color: white;
  }
  
  .panel {
    padding: 0 1.8rem;
    background-color: white;
    max-height: 0;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0 3rem;
    transition: max-height 0.2s ease-out;
  }

  .panel:focus {
      outline: none;
  }


/* end-faq-area */

/* subscribe start */
#subscribe-area {
    background-image: url(./images/newsletter-bg.jpg);
    position: relative;
    padding: 10rem 0 11rem;
    background-attachment: fixed;
    height: 40rem;
    text-align: center;

}

#subscribe-area  .row {
    text-align: center;
    display: flex;
    justify-content: center;
   

}


#subscribe-area h2 {
    font-weight: 700;
    color: #fff;
    margin: 0 0 4rem;
    font-size: 2.5rem;
}

#subscribe-area form
{
    display: block;
    margin-top: 0em;
    font-size: 1.6rem;
}

#subscribe-area input
{
    height: 5rem;
    border-radius: 2.5rem;
    padding-left: 2rem;
    width: 100%;
  
}

#subscribe-area input:focus
{
    outline: none;
}



#subscribe-area button
{
    width: 100%;
    height: 5rem;
    background-color: #2196f3;
    border: 0;
    color: #fff;
    font-weight: 500;
    margin: 1.5rem 0 0;
    border-radius: 2.5rem;
}
/* subscribe end */

/* contact area start*/

#contact-area {
    padding: 80px 0 90px;
    background-color: white;
    height: 65rem;
}
#contact-area .section-heading p{
	text-align: center;
}

#contact-area .row {
    display: flex;
    justify-content: center;
}

#contact-area .row:first-child {
    margin-bottom: 2rem;    
}

#contact-area .container .row h2 {
    font-size: 3rem;
}

#contact-area input
{
    font-size: 1.6rem;
}

#contact-area h6 {
    font-size: 1.4rem;
}

#contact-area h2 {
    font-size: 1.6rem;
}

#contact-area p {
    font-size: 1.4rem;
}
.contact-form input {
    height: 50px;
    border-radius: 25px;
    padding-left: 20px
}

.contact-form textarea {
    border-radius: 25px;
    padding-left: 20px
}

.contact-form button {
    background-color: #2196f3;
    color: #fff;
    border: 0;
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 25px;
}

.contact-form button:hover {
    background-color: #0a80dd;
}

.contact-info {
    padding-left: 30px;
}

.contact-info-single {
    margin: 0 0 30px;
}

.contact-info-single h6 {
    font-weight: 600;
    margin: 0 0 5px;
}

.contact-info-single h6 i {
    color: #2196f3;
}

.contact-social h6 {
    font-weight: 600;
}

.contact-social ul li {
    display: inline-block;
}

.contact-social li a {
    display: block;
    border: 2px solid #2196f3;
    color: #2196f3;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
}

.contact-social li a:hover {
    background-color: #2196f3;
    color: #fff;
}



/* contact area end */

/* footer start */

#footer {
    background-color: #1c1c1c;
}

#footer .container {
    height: 8rem;
    
}

#footer p {
    margin: 0;
    padding-top: 3rem;
    font-weight: 500;
    color: #fff;
}

/* footer end */

/* responsive */


@media (min-width: 0px) and (max-width: 575px) { 


    #features-area {
        height: 215rem;
    }

    #features-area .container .row .features__heading p{
        padding: 3rem;
        text-align: center;
    }


    #core-features-area {
        height: 247rem;
    }

    #core-features-area .core-feature-content {
        border: 1px solid #e6f0fa;
        padding: 4rem;
        position: relative;
        box-shadow: 0 0 1rem #e6f0fa;
    
    }

    #core-features-area .core-feature-content::after {
        background-color: transparent;
        border-left: 2.5rem solid transparent;
        border-right: 2.5rem solid transparent;
        border-top: 4rem solid #e6f0faed;
        display: block;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, 0);

    }

    #core-features-area .core-feature-img {
        margin-top: 3.5rem;
        padding-top: 1rem;
    }


    #core-features-area .core-features-single:nth-child(2) .row .img {
        order: 2;
    }
    
    #core-features-area .core-features-single:nth-child(2) .row .content {
        order: 1;
    }

    

    #why-choose-area {
        height: 93rem;
    }

    #product-area {
        height: 285rem;
    }

    #product-area .container .row{
        padding-top: 2rem;
    }

    #testimonial-area {
        height: 100rem;
    }

    #faq-area .container .row:nth-child(1) .text-center{
        padding-top: 5rem;
    }

    #faq-area{
        height: 77rem;
    }
	

    #faq-area .container .row p{
        padding: 0 2rem;
	}
	
    #faq-area .faq-img {
        display: none;
    }

    #contact-area {
        height: 100rem;
    }

    #about-area {
        height: 62rem;
    }

    #about-area .container .row {
        display: flex;
        flex-direction: column;
    }

    #about-area .container .row .img {
        order: 2;
    }

    #about-area .container .row .content {
        order: 1;
    }
    
    .contact-info {
        margin-top: 2rem;
    }

    .nav {
        width: 100%;
        height: 5rem;
    }

    .nav__list {
        flex-direction: column;
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        z-index: 9;
        transform: translate(-100%);
        transition: transform .25s linear;
        padding: 1.5rem;
   }

    .nav__logo {
        display: flex;
        justify-content: center;
        margin-left: 7rem;
        z-index: 8;
        padding-bottom: 1.5rem;
        
    }
    .nav .btn__collapse {
        display: block;
    }

    .btn__collapse,
    .nav__bg {
        position: fixed;
        top: 1rem;
        left: 1.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        border-radius: 5rem;
        text-align: center;
        line-height: 5rem;
        background-color: #0a80dd;
        color: white;
        cursor: pointer;
        z-index: 10;
    }

    .nav__bg {
        background-color: #eee;
        z-index: 8;
        transition: transform .25s linear;
       }

    .inp__collapse:checked + .nav__bg {
        transform: scale(30);
      }
       
    .inp__collapse:checked ~ .nav__list {
        transform: translateX(0);
      }
/**/
    .nav__button {
        z-index: 12;
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
    }

    #home-area .container .row .carousel{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
    }

    #home-area {
        height: 65rem;
    }

    #about-area .container .row {
        display: flex;
        flex-direction: column;
    }

    #about-area .container .row .img {
        order: 1;
    }

    #about-area .container .row .content {
        order: 2;
    }


  }
 

@media (min-width: 576px) and (max-width: 767px) { 

    #features-area {
        height: 150rem;
    }

    #core-features-area {
        height: 190rem;
    }

    #core-features-area .core-feature-content {
        border: 1px solid #e6f0fa;
        padding: 4rem;
        position: relative;
        box-shadow: 0 0 1rem #e6f0fa;
    
    }


    #core-features-area .core-feature-img {
        margin-top: 3.5rem;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }

    #core-features-area .core-features-single:nth-child(2) .row .img {
        order: 1;
    }
    
    #core-features-area .core-features-single:nth-child(2) .row .content {
        order: 2;
    }

    #why-choose-area {
        height: 85rem;
    }

    #product-area {
        height: 165rem;
    }

    #testimonial-area {
        height: 90rem;
    }

    #faq-area{
        height: 65rem;
    }

    #faq-area .faq-img {
        display: none;
    }

    #contact-area {
        height: 65rem;
    }

    #about-area {
        height: 62rem;
    }

    #about-area .container .row {
        display: flex;
        flex-direction: column;
    }

    #about-area .container .row .img {
        order: 1;
    }

    #about-area .container .row .content {
        order: 2;
    }

    .header {
        height: 8rem;
    }

    .nav {
        width: 100%;
    }

    
    .nav__list {
        flex-direction: column;
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        z-index: 9;
        transform: translate(-100%);
        transition: transform .25s linear;
        padding: 1.5rem;
   }

    .nav__logo {
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        z-index: 8;
        
    }
    .nav .btn__collapse {
        display: block;
    }

    .btn__collapse,
    .nav__bg {
        position: fixed;
        top: 1rem;
        left: 1.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        border-radius: 5rem;
        text-align: center;
        line-height: 5rem;
        background-color: #0a80dd;
        color: white;
        cursor: pointer;
        z-index: 10;
    }

    .nav__bg {
        background-color: #eee;
        z-index: 8;
        transition: transform .25s linear;
       }

    .inp__collapse:checked + .nav__bg {
        transform: scale(80);
      }
       
    .inp__collapse:checked ~ .nav__list {
        transform: translateX(0)
      }

    .nav__button {
        z-index: 12;
        margin-right: 0.5rem;
    }
    
    #home-area .container .row .carousel{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
    }

    #home-area {
        height: 65rem;
    }

    .features__single {
    background-color: #fff;
    text-align: center;
    border: 1px solid #e6f0fa;
    padding: 4rem 3rem;
    margin: 0 0 2rem;
    height: 38.2rem;
    }

